.dropzone{
    border: dashed;
    min-height: 12rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.dropzone .dz-error-message{
    pointer-events: none;
    z-index: 1000;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    font-size: 13px;
    width: 15rem;
    background: #be2626;
    background: linear-gradient(to bottom, #be2626, #a92222);
    margin: 2rem 0;
    padding: 0.5em 1.2em;
    color: white;
    text-align: center;
}
